<footer style="background-color: #008080;" class="text-white pt-4 border-top">
  <div class="container text-center text-md-start">
    <div class="row">

      <!-- Logo and Description -->
      <div class="col-md-3 mb-4">
        <img src="https://png.pngtree.com/png-vector/20210924/ourmid/pngtree-teamwork-flat-icon-png-image_3953902.png" alt="Logo" width="45" class="mb-2 rounded-circle shadow-sm">
        <h6 class="fw-bold">Employee Management</h6>
        <small>This Project eveloped by SuperSeva IT Department Muzaffarpur</small>
      </div>

      <!-- Column 1 -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase fw-bold mb-2">System</h6>
        <ul class="list-unstyled">
          <li><%= link_to "About", about_path, target: "_blank", class: "text-white text-decoration-none small" %></li>
          <li><%= link_to "Contact", contact_path, target: "_blank", class: "text-white text-decoration-none small" %></li>
          <li><%= link_to "Privacy Policy", privacy_policy_path, target: "_blank", class: "text-white text-decoration-none small" %></li>
          <li><%= link_to "Terms & Conditions", terms_conditions_path, target: "_blank", class: "text-white text-decoration-none small" %></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase fw-bold mb-2">Support</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none small">Help Center</a></li>
          <li><a href="#" class="text-white text-decoration-none small">Submit Ticket</a></li>
          <li><a href="#" class="text-white text-decoration-none small">FAQs</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase fw-bold mb-2">Resources</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none small">Affiliates</a></li>
          <li><a href="#" class="text-white text-decoration-none small">Partners</a></li>
          <li><a href="#" class="text-white text-decoration-none small">Careers</a></li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col-md-3 mb-3 text-center text-md-start">
        <h6 class="text-uppercase fw-bold mb-2">Follow Us</h6>
        <div class="d-flex gap-3 justify-content-md-start justify-content-center">
          <a href="#" class="text-white fs-5"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white fs-5"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white fs-5"><i class="bi bi-github"></i></a>
          <a href="#" class="text-white fs-5"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>

    <hr class="border-white mt-3">

    <!-- Copyright -->
    <div class="text-center pb-2 small">
      © Copyright. All rights reserved. — Developed by ❤️  <strong >Aashish Ranjan</strong>
    </div>
  </div>
</footer>
