<div class="container mt-1 mb-4">
  <div class="card shadow-sm rounded-4">
    <div class="card-body">
      <h2 class="card-title mb-4">Edit Document</h2>

      <%= render 'form' %>

    </div>
  </div>
</div>
